$font-stack: Poppins;
$font-bold: Poppins, Extrabold;
$primary-color: #1B277B;
$second-color: #fbdedb;
$third-color: #AB8713;

body{
  background-color: $primary-color;
  padding-left: 2%;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: $primary-color;
  color:$second-color;
  text-align: center;
}

.Telefono{
  font-size: 1.3vw;
  margin-bottom: 1rem;
}

#btn{
  font-size: 1rem;
  background-color:#007bff;
  border: #007bff;

}
#btn:hover {
  background-color: #0069d9;/* Cambiamos el color de fondo */
}

@media screen and (max-width: 700px) {
  .head {
    justify-content: space-evenly;
  }
  .Telefono {
    font-size: 1rem;
  }

  #btn {
    font-size: 0.8rem;
    width: 20%;
  }
}

@media screen and (max-width: 480px) {
  .Telefono {
    font-size: 0.8rem;
  }

  #btn {
    font-size: 0.8rem;
    width: 30%;
  }
}

@media screen and  (max-width: 380px) {
  .head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  .Telefono {
  font-size: 0.9rem;
  }
  #btn {
  font-size: 0.8rem;
  width: 30%;
  }
}

@media (min-width: 281px) {
  .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .Telefono {
  font-size: 18px;
  }
  #btn {
  font-size: 16px;
  padding: 10px 16px;
  }
}

