$font-stack: Poppins;
$font-bold: Poppins, Extrabold;
$primary-color: #1B277B;
$second-color: #fbdedb;
$third-color: #AB8713;

body{
  background-color: $primary-color;
}

section.head{
  font-family: $font-stack;
  color: $second-color;
  background-color: $primary-color;
  display: grid;
  grid-template-columns: repeat(3, 5fr);
  padding-left: 5%;
  padding-right: 5%;
}

h5.telefono{

}
button{
  font-family: $font-bold;
  padding: 1em 2.1em 1.1em;
  border-radius: 8px;
  margin: 8px 8px 8px 8px;
  color: #fbdedb;
  background-color: #fbdedb;
  display: inline-block;
  background: $third-color;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: 800;
  font-size: .85em;
  text-align: center;
  text-decoration: none;

}

