footer {
  background-color: #f2f2f2;
  color: #333;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.logo-container img {
  max-width: 150px;
}

.contact-container h3,
.social-container h3 {
  margin-bottom: 10px;
}

.social-container a {
  display: inline-block;
  margin: 10px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.social-container a:hover {
  color: #008080;
}
