<footer>
  <div class="footer-container">
    <div class="logo-container">
      <img src="assets/img/logo-pymes.png" alt="Logo de la escuela">
    </div>
    <div class="contact-container">
      <h3>Contacto</h3>
      <p>Dirección: Calle 130 d bis #104-18 Suba aures 2, Bogotá, Colombia</p>
      <p>Teléfono: 313 316 1984</p>
      <p>Correo electrónico: propymes.edu@gmail.com</p>
    </div>
    <div class="social-container">
      <h3>Síguenos en redes sociales</h3>
      <a href="https://www.facebook.com/people/Colegio-Centro-de-Estudios-Pro-Pymes/100064165894290/" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com/tu-escuela" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://instagram.com/tu-escuela" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</footer>
