$font-stack: Poppins;
$font-bold: Poppins, Extrabold;
$primary-color: #1B277B;
$second-color: #fbdedb;
$third-color: #AB8713;

.medal{
  grid-template-columns: repeat(9, 1fr);
  margin: 5% 5% 5% 5%;
  display: flex;
  justify-content: space-evenly;
}
h3.title_highschool{
  background-color: $primary-color;
  color:$second-color;
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  font-family: $font-bold;
  font-size: 25px;
  font-weight: 800;

}
