<section>
  <div>
    <h3 class="title_highschool">Culmina exitosamente tu bachillerato con Pro-Pymes<br>
¡Prepárate para la Educación Superior!</h3>
  </div>
  <div class="medal">
    <img class="medal_primary" src ="assets/img/medal-primary.png" height ="170" width="190" alt="medal_primary">
    <img class="medal_billingue" src ="assets/img/medal-billingue.png" height ="170" width="170" alt="medal_billingue">
    <img class="medal_highschool" src ="assets/img/medal-highschool.png" height ="180" width="200" alt="medal_billingue">

  </div>
</section>
