$font-stack: Poppins;
$font-bold: Poppins, Extrabold;
$primary-color: #1B277B;
$second-color: #fbdedb;
$third-color: #AB8713;

h3.title_highschool{
  background-color: $primary-color;
  color:$second-color;
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  font-family: $font-bold;
  font-size: 2vw;
  font-weight: 800;

}
.medal{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.8rem;
  display: flex;
  justify-content: space-around;
}

#img-m{

  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
}

#img-m:hover {
  transform: scale(1.1);
  filter: brightness(125%);
}

#medal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


@media screen and (max-width: 768px) {
  .medal {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
}
