<section class="about-us">
  <div class="container">
    <div class="about-header">
      <img src="assets/img/logo-pymes.png" id= "img" class="img-fluid" alt="Logo del colegio">
      <h2>Colegio Centro de Estudios Pro-Pymes</h2>
    </div>
    <div class="about-content">
      <p>El Colegio Pro-Pymes es una institución educativa comprometida con la formación integral de sus estudiantes. Ofrecemos una educación de calidad en un ambiente acogedor y seguro, fomentando valores y habilidades para la vida.</p>
      <button class="read-more">Leer más</button>
      <div class="more-info">
        <p>Nuestro colegio cuenta con un equipo de docentes altamente capacitados, instalaciones modernas y adecuadas para el aprendizaje y la recreación, así como programas técnicos y Billinguismo para el desarrollo integral de nuestros estudiantes.</p>
      </div>
    </div>
  </div>
</section>
