$font-stack: Poppins;
$font-bold: Poppins, Extrabold;
$primary-color: #1B277B;
$second-color: #ffffff;
$third-color: #AB8713;
$card-day-color: #035A76;
$card-saturday-color: #690F8E;
$card-sunday-color:#B00024;


.programs-container{
  background-color: $primary-color;
  margin-bottom: 5%;
}

.title_programs{
  font-family: $font-stack;
  color: $second-color;
  text-align: center;
  font-weight: 800;
  font-size: 2.5rem;
  padding-top: 5%;
  padding-bottom: 5%;
}

.programs_card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  margin-right: 2rem;
}

.card {
  height: 550px;
  width: 300px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color:$second-color;
  width: 100%;
  max-width: 300px;
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 10px 2px #00000010;
  align-items: center;

}


.card_content_admi {

  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  padding: .75rem 0;
  margin-bottom: .5rem;

  color: $card-day-color;

}

.card_content_arts {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  padding: .75rem 0;
  margin-bottom: .5rem;
  border-bottom: 1px solid var(--background-azul-claro);
  color: $card-saturday-color;
}


.card_content_engi {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  padding: .75rem 0;
  margin-bottom: .5rem;
  border-bottom: 1px solid var(--background-azul-claro);
  color: #B00024;
}

.icon{
  margin-bottom: 7%;
}
.button-admi{
  font-family: $font-bold;
  padding: 1em 2.1em 1.1em;
  border-radius: 8px;
  margin: 35px 35px 8px 8px;
  color: #fbdedb;
  background-color: #fbdedb;
  background: $card-day-color;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: 800;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button-arts{
  font-family: $font-bold;
  padding: 1em 2.1em 1.1em;
  border-radius: 8px;
  margin: 35px 35px 8px 8px;
  color: #fbdedb;
  background-color: #fbdedb;
  background: $card-saturday-color;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: 800;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button-engi{
  font-family: $font-bold;
  padding: 1em 2.1em 1.1em;
  border-radius: 8px;
  margin: 35px 35px 8px 8px;
  color: #fbdedb;
  background-color: #fbdedb;
  background: $card-sunday-color;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: 800;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card_title_engi{
  padding-bottom: 58.5px;
}
