<section>
  <div class="admistrator">
    <h2 class="title_programs">Programas Técnicos Laborales</h2>
    <img class="medal_highschool" src ="assets/img/administrator.png" height ="180" width="200" alt="medal_billingue">

    </div>
      <h2 class="programs_title">Programas Técnicos Laborales</h2>
      <ul class="programs_card">
          <li class="card">
              <div class="card_content">
                  <img class="logo_pymes" src ="assets/img/icon-admi.png" height ="120" width="120" alt="logo">
                  <h3 class="card_title_admin">Administración <br> contabilidad y <br> Finanzas</h3>
                  <button class ="application">Ver más</button>
              </div>
          </li>
          <li class="card">
            <div class="card_content">
                <img class="logo_pymes" src ="assets/img/icon-arts.png" height ="120" width="120" alt="logo">
                <h3 class="card_title_arts">Ciencias <br>  Humanas y <br> Bellas Artes</h3>
                <button class ="application">Ver más</button>
            </div>
          </li>
          <li class="card">
            <div class="card_content">
            <img class="logo_pymes" src ="assets/img/icon-inge.png" height ="120" width="120" alt="logo">
            <h3 class="card_title_engineering">Ingenieria</h3>
            <button class ="application">Ver más</button>
            </div>
          </li>
      </ul>
</section>
