

<section class="programs-container">
  <h2 class="title_programs">Programas Técnicos Laborales</h2>
  <ul class="programs_card" id="programs_card">
<!---------------------------- tarjeta administrador ---------------------------------------->
        <div class="card" style="width: 18rem;">
          <img src="assets/img/administrator.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title" id="card-title-admi">Administración <br> contabilidad y <br> Finanzas</h3>
            <a href="#" class="btn btn-primary"id="btn-admi">Ver Más</a>
          </div>
        </div>
<!---------------------------------- tarjeta artes ---------------------------------------->
        <div class="card" style="width: 18rem;">
          <img src="assets/img/administrator.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title" id="card-title-arts">Administración <br> contabilidad y <br> Finanzas</h3>
            <a href="#" class="btn btn-primary"id="btn-arts">Ver Más</a>
          </div>
        </div>
<!---------------------------------- tarjeta engineer ---------------------------------------->
      <div class="card" style="width: 18rem;">
        <img src="assets/img/administrator.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title" id="card-title-engi">Administración <br> contabilidad y <br> Finanzas</h3>
          <a href="#" class="btn btn-primary"id="btn-engi">Ver Más</a>
        </div>
      </div>
  </ul>
  <hr>
  <hr>
</section>

