<section class="programs-container">
      <h2 class="title_programs">Programas Técnicos Laborales</h2>
      <ul class="programs_card">
          <li class="card">
              <div class="card_content_admi">
                  <img class="icon" src ="assets/img/icon-admi.png" height ="120" width="120" alt="icon">
                  <h3 class="card_title">Administración <br> contabilidad y <br> Finanzas</h3>
                  <button class ="button-admi">Ver más</button>
              </div>
          </li>
          <li class="card">
            <div class="card_content_arts">
                <img class="icon" src ="assets/img/icon-arts.png" height ="120" width="120" alt="icon">
                <h3 class="card_title">Ciencias <br>  Humanas y <br> Bellas Artes</h3>
                <button class ="button-arts">Ver más</button>
            </div>
          </li>
          <li class="card">
            <div class="card_content_engi">
            <img class="icon" src ="assets/img/icon-inge.png" height ="120" width="120" alt="icon">
            <h3 class="card_title_engi">Ingenieria</h3>
            <button class ="button-engi">Ver más</button>
            </div>
          </li>
      </ul>
</section>
