* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 1rem;
}

.products {
  display: flex;
  flex-direction: column;
}
//tablets
@media screen and (min-width: 40em) and (max-width: 63.9em){
  .products--grid {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}

//web desk
@media screen and (min-width: 64em){
  .products {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}


#tituloh1, #parrafoh1{
  display: inline;
  font-size: 24px;
  margin: 0;
}
.contain-title {
  position: relative;
  height: 20vh;
  width: 100%;

}
.children__title {
  position: absolute;
  left: 220px;
  top: 20px;

}

#tituloh1 {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 50.5px !important;
  line-height: 150%;
  /* identical to box height, or 91px */

  color:rgba(116, 116, 116, 0.21);
  letter-spacing: -0.019em;
  display: block;
  margin-bottom: 3hv;
  margin-top: 30px; /* Ajusta el margen superior para que se separe del título 2 */
  margin-left: 100px; /* Ajusta el margen izquierdo para que esté a la derecha del título 2 */
}


#tituloh2 {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 50.5px;
  line-height: 150%;
  /* identical to box height, or 91px */

  color: #1B277B;
  letter-spacing: -0.019em;
  display: block;
  margin-bottom: 3hv;
  margin-left: 3hv;
  margin-bottom: 30px; /* Ajusta el margen inferior para que se separe del título 1 */

}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
