 <!-- Section-->
<div className="d-flex">
  <div class="contain-title">
    <div class="children__title">
      <h1 id="tituloh2">Administración contabilidad y Finanzas</h1>
    </div>
    <div class="children__title2">
      <h1 id="tituloh1">Administración contabilidad y Finanzas</h1>
    </div>
  </div>
</div>
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4
      justify-content-center">
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img class="card-img-top" src="assets/programs-img/aux-bank.png"
            alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Auxiliar Bancario</h5>
              <!-- Product price-->
              <span class="text">Aprende los conceptos básicos del sistema
                bancario y las funciones de un auxiliar bancario.</span>

            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                href="#">Más información</a></div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <div class="badge bg-dark text-white position-absolute" style="top:
            0.5rem; right: 0.5rem">Ofertado</div>
          <!-- Product image-->
          <img class="card-img-top" src="assets/programs-img/aux-pers.png"
            alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Auxiliar de Personal</h5>
              <!-- Product price-->
              <span class="text">Conoce las responsabilidades y tareas de un
                auxiliar de personal, desde la selección de personal hasta la
                gestión de nóminas.</span>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                href="#">Más información</a></div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <div class="badge bg-dark text-white position-absolute" style="top:
            0.5rem; right: 0.5rem">Ofertado</div>
          <!-- Product image-->
          <img class="card-img-top" src="assets/programs-img/aux-merc.png"
            alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Auxiliar de Mercadeo</h5>
              <!-- Product price-->
              <span class="text">Aprende las técnicas y estrategias del
                marketing para asistir a los profesionales de mercadeo en sus
                labores diarias</span>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                href="#">Más información</a></div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img class="card-img-top" src="assets/programs-img/analysis.png"
            alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Auxiliar Administrativo</h5>
              <!-- Product price-->
              Aprende los conceptos y técnicas de la gestión administrativa,
              desde la organización de archivos hasta la gestión de proyectos.
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                href="#">Más información</a></div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <div class="badge bg-dark text-white position-absolute" style="top:
            0.5rem; right: 0.5rem">Sale</div>
          <!-- Product image-->
          <img class="card-img-top"
            src="assets/programs-img/administrator-business.png" alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Organizador de Archivos</h5>
              <!-- Product price-->
              <span class="text">Conviértete en un experto en organización y
                gestión de archivos, desde la clasificación y ordenamiento hasta
                la digitalización de documentos.</span>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                href="#">Más Información</a></div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img class="card-img-top" src="assets/programs-img/analysis.png"
            alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Organizador de Eventos</h5>
              <!-- Product price-->
              Aprende a planificar y coordinar eventos, desde pequeñas reuniones
              hasta grandes eventos corporativos o sociales.
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                href="#">Más información</a></div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <div class="badge bg-dark text-white position-absolute" style="top:
            0.5rem; right: 0.5rem">Increíble</div>
          <!-- Product image-->
          <img class="card-img-top" src="assets/programs-img/analysis.png"
            alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Asistente de Comercio Exterior</h5>
              <!-- Product price-->
              <span class="text">Conoce los procedimientos y trámites necesarios
                para llevar a cabo operaciones de comercio exterior y asistir a
                los profesionales en el área.</span>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                href="#">Más información</a></div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img class="card-img-top" src="assets/programs-img/analysis.png"
            alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Asistente Contable y Financiero</h5>
              <!-- Product price-->
              Aprende los conceptos y técnicas de contabilidad y finanzas, desde
              la preparación de estados financieros hasta la gestión de
              impuestos.
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                href="#">Más Información</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section-->
<div className="d-flex">
  <div class="contain-title">
    <div class="children__title">
      <h1 id="tituloh2">Ciencias Humanas y Bellas Artes</h1>
    </div>
    <div class="children__title2">
      <h1 id="tituloh1">Ciencias Humanas y Bellas Artes</h1>
    </div>
  </div>
</div>
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4
      justify-content-center">
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img class="card-img-top" src="assets/programs-img/aux-bank.png"
            alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Investigación Jurídica y Criminalística</h5>
              <!-- Product price-->
              <span class="text">Se enfoca en la investigación y recolección de
                pruebas en casos criminales y judiciales.</span>

            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                href="#">Más información</a></div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <div class="badge bg-dark text-white position-absolute" style="top:
            0.5rem; right: 0.5rem">Ofertado</div>
          <!-- Product image-->
          <img class="card-img-top" src="assets/programs-img/aux-pers.png"
            alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Asistente de juzgado tribunal</h5>
              <!-- Product price-->
              <span class="text">Trabaja en un juzgado para asistir en la
                administración y procesamiento de casos.</span>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                href="#">Más información</a></div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <div class="badge bg-dark text-white position-absolute" style="top:
            0.5rem; right: 0.5rem">Ofertado</div>
          <!-- Product image-->
          <img class="card-img-top" src="assets/programs-img/aux-merc.png"
            alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Asistente social y comunitario</h5>
              <!-- Product price-->
              <span class="text">Ayuda a las personas y comunidades a enfrentar
                problemas sociales y mejorar su bienestar.</span>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                href="#">Más información</a></div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img class="card-img-top" src="assets/programs-img/analysis.png"
            alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Entrenador deportivo</h5>
              <!-- Product price-->
              Se dedica a planificar y dirigir programas de entrenamiento físico
              para atletas y equipos deportivos.
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                href="#">Más información</a></div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <div class="badge bg-dark text-white position-absolute" style="top:
            0.5rem; right: 0.5rem">Ofertado</div>
          <!-- Product image-->
          <img class="card-img-top"
            src="assets/programs-img/administrator-business.png" alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Auxiliar de geriatría</h5>
              <!-- Product price-->
              <span class="text">Brinda cuidados y asistencia a personas mayores
                y con discapacidades en el hogar o en centros de atención.</span>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                href="#">Más Información</a></div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img class="card-img-top" src="assets/programs-img/analysis.png"
            alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Diseñador gráfico</h5>
              <!-- Product price-->
              Se especializa en crear diseños y elementos visuales para medios
              digitales y de impresión.<br>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                  href="#">Más información</a></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>



  <!-- Section-->
  <div className="d-flex">
    <div class="contain-title">
      <div class="children__title">
        <h1 id="tituloh2">Ingenieria</h1>
      </div>
      <div class="children__title2">
        <h1 id="tituloh1">Ingenieria</h1>
      </div>
    </div>
  </div>
  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4
        justify-content-center">
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="assets/programs-img/aux-bank.png"
              alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">Sistemas topografía</h5>
                <!-- Product price-->
                <span class="text">Realiza mediciones y mapas de terrenos para
                  proyectos de construcción y planeación urbana.</span>

              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                  href="#">Más información</a></div>
            </div>
          </div>
        </div>
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Sale badge-->
            <div class="badge bg-dark text-white position-absolute" style="top:
              0.5rem; right: 0.5rem">Ofertado</div>
            <!-- Product image-->
            <img class="card-img-top" src="assets/programs-img/aux-pers.png"
              alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">Electricidad</h5>
                <!-- Product price-->
                <span class="text"> Se dedica a instalar, mantener y reparar
                  sistemas eléctricos en hogares, edificios y equipos.</span>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                  href="#">Más información</a></div>
            </div>
          </div>
        </div>
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Sale badge-->
            <div class="badge bg-dark text-white position-absolute" style="top:
              0.5rem; right: 0.5rem">Ofertado</div>
            <!-- Product image-->
            <img class="card-img-top" src="assets/programs-img/aux-merc.png"
              alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">Educación Vial</h5>
                <!-- Product price-->
                <span class="text">Promueve la seguridad en las vías y enseña a
                  conductores y peatones cómo comportarse en el tráfico.</span>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                  href="#">Más información</a></div>
            </div>
          </div>
        </div>

        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="assets/programs-img/analysis.png"
              alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">Mecánica automotriz</h5>
                <!-- Product price-->
                Se dedica a reparar y mantener vehículos, desde autos hasta
                camiones y maquinaria pesada.
              </div>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                  href="#">Más información</a></div>
            </div>
          </div>
        </div>

        <div class="col mb-5">
          <div class="card h-100">
            <!-- Sale badge-->
            <div class="badge bg-dark text-white position-absolute" style="top:
              0.5rem; right: 0.5rem">Ofertado</div>
            <!-- Product image-->
            <img class="card-img-top"
              src="assets/programs-img/administrator-business.png" alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">Mecánica de motocicletas</h5>
                <!-- Product price-->
                <span class="text">Especializado en la reparación y
                  mantenimiento de motocicletas.</span>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                  href="#">Más Información</a></div>
            </div>
          </div>
        </div>

        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="assets/programs-img/analysis.png"
              alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">Mecánica de Motores Diésel</h5>
                <!-- Product price-->
                Enfocado en la reparación y mantenimiento de motores diésel,
                utilizados en vehículos y maquinaria pesada.<br>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                  href="#">Más información</a></div>
            </div>
          </div>
        </div>
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="assets/programs-img/analysis.png"
              alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">Operación de equipos pesados</h5>
                <!-- Product price-->
                Realiza tareas de construcción y excavación utilizando equipos
                pesados como excavadoras, cargadoras y retroexcavadoras.<br>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                  href="#">Más información</a></div>
            </div>
          </div>
        </div>

            <!-- Product actions-->

            <div class="col mb-5">
              <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src="assets/programs-img/analysis.png"
                  alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                  <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">Construcción de obras civiles</h5>
                    <!-- Product price-->
                    <span class="text">Diseña y construye estructuras y sistemas civiles, como puentes, carreteras, edificios, entre otros</span>

                  </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                      href="#">Más información</a></div>
                </div>
              </div>
            </div>

            <div class="col mb-5">
              <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src="assets/programs-img/analysis.png"
                  alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                  <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">Operación de máquinas soldadoras</h5>
                    <!-- Product price-->
                    <span class="text">Realiza procesos de soldadura en diversos materiales y proyectos de construcción.<</span>

                  </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                      href="#">Más información</a></div>
                </div>
              </div>
            </div>

            <div class="col mb-5">
              <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src="assets/programs-img/analysis.png"
                  alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                  <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">Salud ocupacional y seguridad industrial</h5>
                    <!-- Product price-->
                    <span class="text">Se dedica a promover la seguridad y salud en el lugar de trabajo, mediante la identificación y prevención de riesgos laborales.</span>

                  </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                      href="#">Más información</a></div>
                </div>
              </div>
            </div>

            <div class="col mb-5">
              <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src="assets/programs-img/analysis.png"
                  alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                  <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">Instalación de servicios de telecomunicaciones</h5>
                    <!-- Product price-->
                    <span class="text">Se enfoca en la instalación y mantenimiento de sistemas de comunicaciones como teléfonos, internet y televisión.</span>

                  </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                      href="#">Más información</a></div>
                </div>
              </div>
            </div>

            <div class="col mb-5">
              <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src="assets/programs-img/analysis.png"
                  alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                  <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">Operación de plantas de tratamiento de aguas y desechos</h5>
                    <!-- Product price-->
                    <span class="text">Se dedica a la operación y mantenimiento de plantas para el tratamiento y purificación de agua y desechos.</span>

                  </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                      href="#">Más información</a></div>
                </div>
              </div>
            </div>

            <div class="col mb-5">
              <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src="assets/programs-img/analysis.png"
                  alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                  <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">Operación de sistemas y Componentes en la perforación de pozos de hidrocarburos</h5>
                    <!-- Product price-->
                    <span class="text">Realiza la perforación y mantenimiento de pozos de petróleo y gas para la extracción de hidrocarburos.</span>

                  </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                      href="#">Más información</a></div>
                </div>
              </div>
            </div>

            








      </div>

    </div>
