* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#card {
  flex-basis: calc(33.33% - 1rem);
  margin-bottom: 1rem;
}

.card-body {
  height: 100%;
}


.my-card-img {
  width: auto;
  height: 200px;
  object-fit: cover;
}

p{
  font-size: 1.5vw;
}
