<section class="campus">
  <div class="campus_container">
    <div class="campus_content">
      <h2 class="campus_title">Campus</h2>
      <p class="text"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eveniet corrupti pariatur veniam eligendi optio harum totam neque voluptatum dolorem, dolor quas. Iusto laboriosam laudantium facere omnis aliquid, ratione tempora! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sequi consectetur cumque natus ex eveniet aut quam odit laboriosam omnis labore doloribus quis officiis fugit dignissimos, vitae molestiae aliquam numquam. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, reprehenderit tenetur fugiat quidem fugit possimus a iure laudantium, neque sit ea minus veritatis eos quisquam ratione quis eius, voluptas quo.</em></p>
    </div>
    <img class="campus_image" src="assets/img/campus.jpg" alt="campus">
  </div>
</section>
