<section>

  <div className="d-flex">
    <div class="contain-title">
      <div class="children__title">
        <h1 id="tituloh2">Certificación de Calidad</h1>
      </div>
      <div class="children__title2">
        <h1 id="tituloh1">Certificación de Calidad</h1>¿
      </div>
    </div>
  </div>

  <div class="quality">
    <img class="politecnico img-fluid" src="assets/img/poli.png" alt="politecnico">
    <img class="net img-fluid " src="assets/img/net.png" alt="net">
    <img class="incontec img-fluid" src="assets/img/incontec.png" alt="incontec">
  </div>
</section>
