<section class="schedule-container">
    <h2 class="schedule_title">Horario Flexible</h2>
    <h3 class="schedule_title2">Aprendizaje acelerado con máxima calidad</h3>
    <ul class="schedule_cards">
        <li class="card">
            <h3 class="card_title_day">Diurno</h3>
            <div class="card_content">
              <p class="card_shedule"><em>Horario:  </em></p>
                <p class="card_shedule_day"><em>8:00 a.m. <br>  a <br> 12:00 pm</em></p>
                <p class="card_text">Lunes a Viernes</p>
            </div>
        </li>
        <li class="card">
          <h3 class="card_title_saturday">Sabados</h3>
          <div class="card_content">
            <p class="card_shedule"><em>Horario 1: </em></p>
              <p class="card_shedule_saturday"><em> 8:00 a.m. a 12:00 pm</em></p>
              <p class="card_shedule"><em>Horario 2: </em></p>
              <p class="card_shedule_saturday"><em>2:00 p.m. a 6:00 pm</em></p>
          </div>
        </li>
        <li class="card">
          <h3 class="card_title_sunday">Domingos</h3>
          <div class="card_content">
            <p class="card_shedule"><em>Horario:  </em></p>
              <p class="card_shedule_sunday"><em>8:00 a.m. <br> a <br> 12:00 pm</em></p>
          </div>
        </li>
    </ul>
    <h3 class="schedule_title3">SEMIPRESENCIAL, VIRTUAL Y A DISTANCIA</h3>
</section>

