
$font-stack: Poppins;
$font-bold: Poppins, Extrabold;
$primary-color: #1B277B;
$second-color: #ffffff;
$third-color: #AB8713;
$card-day-color: #035A76;
$card-saturday-color: #690F8E;
$card-sunday-color:#B00024;

.schedule-container{
  background-color: #F7F4F4;
}

.schedule_title{
  font-family: $font-stack;
  color: $primary-color;
  text-align: center;
  font-weight: 800;
  font-size: 2.5rem;
}
.schedule_title2{
  font-family: $font-stack;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.schedule_cards{
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#card {
  float: left;
  width: calc(33.33% - 20px);
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
}

#card_title_day {
  background-color: $card-day-color;
  color: #fff;
  padding: 10px;
  font-weight: 700;
  font-size: 3vw;
  text-align: center;
  padding: .75rem 0;
  margin-bottom: .5rem;
  border-bottom: 1px solid var(--background-azul-claro);


}

#card_title_saturday {
  background-color: $card-saturday-color;
  color: #fff;
  padding: 10px;
  font-weight: 700;
  font-size: 3vw;
  text-align: center;
  padding: .75rem 0;
  margin-bottom: .5rem;
  border-bottom: 1px solid var(--background-azul-claro);

}


#card_title_sunday {
  background-color: $card-sunday-color;
  color: #fff;
  padding: 10px;
  font-weight: 700;
  font-size: 3vw;
  text-align: center;
  padding: .75rem 0;
  margin-bottom: .5rem;
  border-bottom: 1px solid var(--background-azul-claro);
}

.card_content{
  font-size: 1.2rem;
  text-align: center;
  font-family: $font-stack;
}
.card_shedule_day{
  color:$card-day-color;
  font-family: $font-stack;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
}


.card_shedule_saturday{
  color:#690F8E;
  font-family: $font-stack;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
}

.card_shedule_sunday{
  color:$card-sunday-color;
  font-family: $font-stack;
  font-size: 1.2rem;
  text-align: center;
  line-height: 48px;
  font-weight: 600;
}
p{
  font-size:2vw;
}
.schedule_title3{
  font-family: $font-stack;
  color: $primary-color;
  text-align: center;
  font-weight: 500;
  font-size: 1.7rem;
  padding-bottom: 5%;
}

@media screen and (max-width: 768px) {
  .schedule_cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    flex-basis: auto;
  }
}
